doctype html
html(lang="en-US")
  head
    //- link(rel="stylesheet", href="index.css")
    title #{title}
  body
    div(id='root')

    script(src="./parcel.hot.js")
    script(src="../app/index.tsx")
